* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-image: url("./img/backgroundBody.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.time {
    padding: 30px 0px 50px 0px;
}

.wrap {
    display: flex;
}

.img {
    width: 40%;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px;
}

.box-btn {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0px auto;
}

.main-title {
    margin: 0px 0px 30px 360px;
    font-size: 40px;
    text-align: center;
    color: #000;

}
.time-box{
    display: flex;
    align-items: center;
}
.time-title {
    font-size: 30px;
    text-align: center;
    color: #000;
}

.title-time {
    width: 200px;
    margin-left: auto;
    padding: 20px;
    text-align: center;
    font-size: 27px;
    color: #fff;
    background-color: #000;
    border: 5px solid #808080;
    border-radius: 10px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
}

.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
    padding-left: 0px;
    list-style-type: none;
}

.time-list__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 200px;
    background: #DFDFDF;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 10px solid #000;
}
.time-list__img{
    position: absolute;
    top: -10px;
}
.fajr,
.sunrise,
.dhuhr,
.asr,
.maghrib,
.isha{
    margin-top: 105px;
    font-size: 27px;
    font-weight: 900;
    color: #000;
}
.select-time,
.select-region {
    width: 140px;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;

    box-shadow: 2px 5px 0px 0px rgba(0, 0, 0, 0.75);
    appearance: none;
    outline: none;
    border-radius: 10px;
    border: none;
}

.time-table {
    width: 820px;
    margin: 0 auto;
    padding-bottom: 200px;
    text-align: center;
    color: #000;
    border: 10px solid gray;
    border-collapse: collapse;
    background-color: #dfdfdf;
}

th {
    padding: 15px;
    border: 3px solid #000;
    font-size: 18px;
}

td {
    font-size: 16px;
    padding: 15px;
    border: 3px solid #fff;
}